.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.card {
  height: 100%;
  border: black;
  border-radius: 20px;
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: black;
    background-color: rgb(71, 71, 71);
  }
}

.card-body:hover {
  img {
    height: 60%;
    width: 60%;
  }
}

img {
  width: 50%;
  height: 50%;
  margin-bottom: 15px;
}

img:hover {
  cursor: pointer;
}

button {
  display: flex;
  align-self: center;
  justify-content: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 2s infinite;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .row {
    width: 90%;
    justify-content: center;
  }

  img {
    width: 90%;
    height: 90%;
  }

  .col {
    width: 150%;
  }
}

@media only screen and (max-width: 430px) {
  .row {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
