.container {
  display: flex;
  height: 93vh;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.card {
  border: black;
  .card-body {
    background-color: rgb(71, 71, 71);
  }
}

.row {
  justify-content: center;
}

.element {
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
}

button {
  margin-bottom: 2%;
  height: 40px;
  background-color: rgb(71, 71, 71);
  color: white;
  width: 50%;
}

button:hover {
  background-color: rgb(53, 56, 94);
}
img {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 50%;
  height: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 2s infinite;
}
